/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Landing page styles */
  .landing-page {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Header styles */
  .header {
    // background-color: #4caf50;
    // color: white;
    padding: 10px 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #fa783c;
  }
  
  /* Content styles */
  .content1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card container styles */
  .card-container {
    display: flex;
    gap: 20px;
  }
  
  /* Card styles */
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    // width: 150px;
    // height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 600 ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  